/* Default styles */
.sponsor-marquee-container {
    text-align: center; /* Centers the content horizontally */
    margin-top: 50px; /* Adjust margin as needed */
}

.sponsor-marquee-content img {
    display: block; /* Ensures the image is centered */
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 600px; /* Ensures the image doesn't exceed its container's width */
    height: auto; /* Maintains the aspect ratio */
}

/* Media query for screens smaller than 768px (adjust as needed) */
@media (max-width: 768px) {
    .sponsor-marquee-content img {
        max-width: 100%; /* Make the image fluid within its container */
    }
}

/* Media query for screens smaller than 480px (adjust as needed) */
@media (max-width: 480px) {
    .sponsor-marquee-content img {
        max-width: 90%; /* Adjust the image size for smaller screens */
    }
}
